@media(max-width: 1220px) {
    .body__content{
        &-contacttitle {
            font-size: 24px;   
        }
        &-contacttitle span {
            font-size: 52px;
            margin-right: 5px;
        }
        &-contacttext {
            font-size: 15px;
        }
        &-contactelement {
            width: 126px;
        }
    }
    .header__menu-list {
        overflow-y: scroll;
        max-width: 850px;
    }
}

@media(max-width: 1100px) {
    .header__main-profile {
        margin-right: 50px;
    }
    .header__menu-choseitem {
        width: 270px;
        height: 400px;
    }
    .header__menu-choseitem-basket {
        font-size: 14px;
        left: 8.5rem;
    }

    .header__menu-choseitem-price {
        left: 1.5rem;
        font-size: 28px;
    }
    .header__menu-list {
        max-width: 900px;
    }
}

@media(max-width: 1000px) {
    .body__content {
        &-info-secondtext {
            display: none;
        }
    }

    .body__menu {
        column-gap: 50px;
    }
    .infotitle {
        font-size: 16px;
        line-height: 100%;
        min-width: 200px;

        &::after {
            top: 0.299rem;
        }
    }
    .body__content-delivery-accentbtn {
        padding: 7px 15px;
    }
    .white-btn {
        padding: 7px 15px;
    }

    .body__content-delivery {
        margin-bottom: 300px;
    }
    
    .header__menu-list {
        max-width: 850px;
    }
    .header__main-profile {
        margin-right: 100px;
    }
    .header__menu-chose {
        width: 950px;
    }

    .header__menu-choseitem {
        width: 270px;
        height: 400px;
        margin-top: 25px;
    }

    .header__menu-choseitem-basket {
        font-size: 14px;
        left: 8.5rem;
    }

    .header__menu-choseitem-price {
        left: 1.5rem;
        font-size: 28px;
    }
    
}

@media(max-width: 954px) {
    .header__menu-listitem {
        padding-bottom: 5px;
    }

    .body__content-contacts {
        padding-top: 100px;
    }
    .body__content-menu-description {
        column-gap: 100px;
    }
    .body__content-info-title {
        margin-right: 100px;
    }


    .white-btn {
        padding: 7px 15px;
    }
    .header__main-title {
        font-size: 48px;
        margin-left: 130px;
    }
    .header__menu-list {
        max-width: 785px;
    }

    .header__menu-choseitem-price {
        left: 1rem;
        font-size: 24px;
    }
    .header__menu-choseitem {
        width: 220px;
        height: 345px;
    }
    .header__menu-choseitem-pricelist {
        padding-top: 0px;
    }

    .header__menu-choseitem-basket {
        left: 6.5rem;
    }
    .header__menu-chose {
        width: 860px;
    }
    .header__menu-choseitem-text {
        font-size: 16px;
    }
}
@media (max-width: 930px) {
    .body__menu {
        display: block;
    }
    .body__menu-photoitem-big {
        margin: 0 auto;
    }
    .body__menu-content-wrapper {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
    // .body__menu-photoitem-big {
    //     width: 316px;
    //     height: auto;
    // }
    
}

@media(max-width: 900px) {
    .body__content-contactimg {
        display: none;
    }
    .header__menu-list {
        max-width: 700px;
    }
    .header__menu-listitem {
        font-size: 14px;
    }
}

@media(max-width: 870px) {
    .header__main-profile {
        margin-right: 190px;
    }

    .body__content-delivery {
        display: none;
    }
    .body__content-info-text-second {
        display: none;
    }
    .body__content-info-text-first {
        padding-top: 123px !important;
    }
    .body__content-info-firsttext {
        padding-top: 50px !important;
    }
    .header__main-nav {
        padding-right: 0px;
    }
}


@media (max-width: 830px) {
    .header__menu-list {
        flex-wrap: wrap;
    }
    .header__menu-listitem {
        margin-bottom: 10px;
    }
    .header__menu-choseitem {
        width: 306px;
        height: 404px;
    }

    .header__menu-choseitem-price {
        font-size: 32px;
        bottom: 2.2rem;
        left: 1.9rem;
    }
    .header__menu-choseitem-basket {
        font-size: 16px;
        left: 9.75rem;
    }
}


@media(max-width:869px) {
    .body__content-mainMenu-description{
        padding-bottom: 9px;
    }
    .body__content-contacts {
        padding-top: 70px;
    }
    .header__main-nav {
        padding-right: 0px;
    }

    .header__menu-choseitem-text {
        font-size: 20px;
    }
    .header__menu-listitem {
        font-size: 16px;
    }
    .header__menu-chose {
        width: 100%;
        justify-content: center;
    }
    .header__main-profile {
        margin-right: 0px;
    }

}

@media(max-width: 780px){
    .footer__text {
        display: none;
    }
    .text {
        font-size: 14px;
    }
    .body__content-info-title {
        margin-right: 20px;
    }
    .body__content-menu-description {
        column-gap: 40px;
    }
    .body__content-info {
        margin-bottom: 50px;
    }
    .body__content {
        margin-top: 100px;
    }
    .body__content-contactitem {
        margin-top: 100px;
    }
    .body__content-contactbook {
        top: 10rem;
        left: 34rem;
    }
    .header__main-nav-linkbtn {
        margin-right: 10px;
    }
    .header__main-nav {
        padding-right: 0px;
    }
}

@media(max-width:690px) {
    .body__content-contactbook-text {
        padding-top: 35px;
        margin-left: 22px;
    }
    .body__content-contactbook-timetable {
        padding-left: 20px;
    }
    .body__content-contactbook-btnlist {
        margin-left: 20px;
    }
    .body__content-contactbook {
        height: 329px;
    }
}

@media(max-width:660px) {
    .header__main-nav {
        display: none;
    }
    .header__main-title {
        font-size: 36px;
        margin-left: 90px;
    }

    .body__content-mainMenu {
        flex-direction: column;
        row-gap: 144px;
        height: 636px;
        align-items: center;
    }
    .body__content-mainMenu__titlemedia {
        top: -23rem;
        left: 12.5rem;
    }
    .body__content-mainMenu__titlemedia2 {
        top: 0rem;
        left: -11rem;
    }
    .infotitle {
        padding-right: 0px;
        &::after {
            margin-left: 20px;
        }
    }
    .body__content-contactbook {
        min-width: 480px;
    }
    .body__content-info-textcontent {
        margin-left: -170px;
    }
    .body__content-menu-description {
        margin-left: -170px;
        height: 250px;
    }
}

@media(max-width: 610px) {
    .header__main-logo {
        margin-left: 5px;
    }
    .header__main-repeat {
        min-width: 95px;
        max-width: 95px;
    }
    .header__main-burger {
        margin-left: 29px;
    }
    .header__main-icon {
        margin-left: 27px;
    }

    .menu-text p {
        font-size: 36px;
    }

    .body__content-contacts {
        height: 800px;
    }
    .body__content-contactitem {
        justify-content: center;
        align-items: center;
    }
    .body__content-contactbook {
        top: 32rem;
        left: 17rem;
    }
    .body__content-contactbook {
        min-width: 416px;
    }
    .body__content-contactbook-timetable {
        padding-left: 40px;
    }
    .body__content-contactbook-text {
        padding-top: 40px;
        margin-left: 42px;
    }
    .body__content-contactbook-btnlist {
        margin-left: 40px;
    }
    .body__content-contactbook-timetable {
        padding-left: 40px;
    }
    .body__content-contactbook-btnlist {
        margin-left: 40px;
    }
    .footer__text {
        display: none;
    }
    .footer__list {
        justify-content: space-between;
        align-items: center;
    }
}
@media (max-width: 535px) {
    .body__menu-photoitem-big {
        width: 316px;
        height: auto;
    }
    .body__menu-photoitem-smallitem {
        width: 90px;
        height: auto;
    }    
}

@media (max-width: 520px) {
    .body__content-menu-description {
        margin-left: -200px;
    }
    .body__content-info-textcontent {
        margin-left: -200px;
    }
    .body__content-info-title {
        margin-right: 0px;
    }
    .body__content-menu-description {
        column-gap: 23px;
    }
    .body__content-menu-description {
        height: 330px;
    }
    .body__content-contactbook {
        left: 15rem;
    }
}

@media (max-width: 450px) {
    .body__content-contactbook {
        left: 14.5rem;
    }
}

@media (max-width:430px) {
    .container-fluid {
        position: relative;
        left: -42px;
        top: 40px;
    }
    .header__main-repeat__downblock {
        display: none;
    }
    .header__main-repeat {
        height: 150px;
        position: relative;
        z-index: 10;
    }
    .account__block {
        top: 5.99rem;
    }
    
}


@media (max-width: 400px) {
    .body__content-info-title {
        font-size: 42px;
    }
    .body__content-menu-tiltemob {
        font-size: 42px;
    }
    .header__main-repeat {
        min-width: 100px;
    }
    .header__main-logo {
        margin-left: 7px;
    }
    .header__main-burger {
        margin-left: 33px;
    }
    .header__main-icon {
        margin-left: 33px;
    }
}
@media (max-width: 420px) {
    .header__main-title {
        display: none;
    }
    .container-fluid {
        left: -74px;
    }
    .header__menu-listwrapper {
        padding-top: 95px;
    }
    .table-booking__btn {
        margin-right: 20px;
    }
}

@media (max-height: 800px) {
    .menu-open {
        row-gap: 50px;
    }
}
@media (max-height: 700px) {
    .menu-icon {
        display: none;
    }
}

@media (max-width:370px) {
    .body__content-contactitem {
        width: 389px;
    }
    .body__content-contactbook {
        left: 12.5rem;
    }
}
@media (max-width: 330px) {
    .footer__list-pay {
        display: none;
    }

}
@media (max-width: 360px) {
    .container-fluid {
        left: -85px;
    }
    .header__main-cabinet {
        font-size: 14px;
    }
    .header__main-profile {
        column-gap: 25px;
    }
}
