@font-face {
  font-family: 'Circe';
  src: url("../font/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("../font/Circe-Bold.eot") format("embedded-opentype"), url(".././font/Circe-Bold.woff") format("woff"), url("../font/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Circe';
  src: url("../font/Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"), url("../font/Circe-Regular.eot") format("embedded-opentype"), url("../font/Circe-Regular.woff") format("woff"), url("../font/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html, body {
  overflow-x: hidden !important; }

.container {
  max-width: 1266px;
  padding: 0 15px;
  margin: 0 auto; }

.container-fluid {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 15px; }

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }

.none {
  display: none !important; }

body {
  font-family: 'Circe', sans-serif; }

.text-opacity {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #333333;
  opacity: 0.6; }

.header__main {
  display: flex;
  justify-content: space-between;
  position: relative; }
  .header__mainmenu {
    width: 120px; }
  .header__main-repeat {
    background-color: #333333;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 120px;
    max-width: 120px; }
  .header__main-logo {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 28px;
    width: 80px;
    height: 46px; }
  .header__main-burger {
    width: 33px;
    height: 23px;
    margin-left: 43px; }
  .header__main-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 139px;
    margin-left: 43px;
    margin-bottom: 41px; }
  .header__main-content {
    background-image: url(../img/header/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: #fff;
    background-position: center;
    min-width: 1113px; }
  .header__main-nav {
    display: flex;
    position: absolute;
    right: 0;
    padding-right: 50px; }
  .header__main-nav-link {
    display: flex;
    margin-right: 50px;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    padding-top: 40px; }
  .header__main-nav-linkbtn {
    margin-right: 50px;
    margin-top: 30px; }
  .header__main-title {
    position: absolute;
    bottom: 0;
    margin-left: 302px;
    padding-bottom: 150px;
    max-width: 856px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 140%; }
  .header__main-profile {
    display: flex;
    justify-content: flex-end;
    column-gap: 34px;
    padding-top: 32px; }
  .header__main-cabinet {
    color: #333333;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%; }
  .header__main-purchase-counter {
    position: relative; }
  .header__main-purchase-count {
    margin-top: 2px;
    padding: 0 3px;
    position: absolute;
    background-color: #b59571;
    min-width: 20px;
    min-height: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    top: 1rem;
    right: -1rem; }

.header__menu-list {
  display: flex;
  column-gap: 40px; }
.header__menu-listwrapper {
  padding-top: 63px; }
.header__menu-listitem {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333333; }
.header__menu-listitem-link {
  color: #333333;
  position: relative; }
.header__menu-listitem-link--active::after {
  content: '';
  background-color: #b59571;
  width: 100%;
  height: 3px;
  display: block;
  position: relative;
  top: 5px;
  left: 0; }
.header__menu-chose {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px; }
.header__menu-choseitem {
  border: 1px solid rgba(51, 51, 51, 0.2);
  width: 306px;
  height: 404px;
  margin-top: 55px;
  position: relative; }
.header__menu-choseitem-text {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  padding: 0 30px;
  margin-top: 30px;
  color: #333333; }
.header__menu-choseitem-pricelist {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  max-width: 246px;
  margin: 0 auto; }
.header__menu-choseitem-price {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  /* or 38px */
  /* black */
  color: #333333;
  position: absolute;
  bottom: 2.2rem;
  left: 1.9rem; }
.header__menu-choseitem-basket {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  /* white */
  color: #FFFFFF;
  position: absolute;
  bottom: 2.2rem;
  left: 9.75rem;
  background-color: #b59571;
  padding: 10px 20px; }

.accent-btn {
  background-color: #b59571;
  padding: 10px 20px;
  font-family: 'Circe';
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #fff; }

.white-btn {
  border: 1px solid rgba(51, 51, 51, 0.2);
  padding: 15px 30px;
  font-family: 'Circe';
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #333333; }

.infotitle {
  color: #333333;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  padding-right: 90px;
  text-transform: uppercase;
  position: relative;
  height: 28px; }
  .infotitle::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background: #B59571;
    top: 40%;
    margin-left: 30px; }

.text {
  max-width: 526px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333333; }
  .text:first-child {
    margin-bottom: 30px;
    padding-top: 87px; }
  .text:last-child {
    margin-bottom: 0px; }

.title {
  padding-top: 80px;
  max-width: 196px;
  height: 353px;
  font-family: 'Circe';
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #333333; }

.fix__content {
  margin-top: 133px; }

.body__content {
  margin-top: 150px; }
  .body__content-info {
    display: flex;
    margin-bottom: 150px; }
  .body__content-info-textcontent {
    display: flex; }
  .body__content-info-textwrapper {
    height: 266px; }
  .body__content-info-title {
    margin-right: 134px; }
  .body__content-menu {
    display: flex; }
  .body__content-menu-description {
    display: flex;
    justify-content: space-between;
    column-gap: 228px; }
  .body__content-mainMenu {
    display: flex;
    column-gap: 24px;
    justify-content: center;
    align-items: center; }
  .body__content-mainMenu__card {
    width: 416px;
    height: 240px;
    padding-bottom: 92px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    position: relative; }
    .body__content-mainMenu__card::after {
      content: '';
      position: absolute;
      background-image: url(../img/body__content/menu0.jpg);
      width: 336px;
      height: 240px;
      margin-left: 40px;
      margin-top: 40px; }
  .body__content-mainMenu__barncard {
    width: 416px;
    height: 240px;
    padding-bottom: 92px;
    border: 1px solid rgba(51, 51, 51, 0.2); }
    .body__content-mainMenu__barncard::after {
      content: '';
      position: absolute;
      background-image: url(../img/body__content/menu1.jpg);
      width: 336px;
      height: 240px;
      margin-left: 40px;
      margin-top: 40px; }
  .body__content-mainMenu-description {
    display: flex;
    column-gap: 181px;
    padding-top: 64px;
    justify-content: center;
    padding-bottom: 150px; }
  .body__content-delivery-textcontent {
    display: flex; }
  .body__content-deliverywrapper {
    display: flex; }
  .body__content-delivery-accentbtn {
    padding: 15px 30px; }
  .body__content-deliverybtn {
    padding-top: 25px;
    padding-bottom: 20px;
    display: flex;
    column-gap: 30px;
    max-width: 414px; }
  .body__content-delivery {
    margin-bottom: 150px; }
  .body__content-contactitem {
    width: 100px; }

.body__content-contactswrapper {
  position: relative;
  display: flex;
  justify-content: space-between; }
.body__content-contactitem {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin-top: 200px; }
.body__content-contactelement {
  width: 200px;
  margin-right: 25px;
  margin-bottom: 50px; }
.body__content-contacttitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #b59571; }
  .body__content-contacttitle span {
    font-size: 64px;
    margin-right: 15px; }
.body__content-contacttext {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333333; }
.body__content-contactimg {
  margin-top: 80px;
  min-width: 746px;
  height: 450px; }
.body__content-contactbook {
  color: #fff;
  position: absolute;
  top: 17rem;
  left: 38rem;
  transform: translate(-55%, -38%);
  min-width: 416px;
  height: 349px;
  background-color: #5B5B5B; }
.body__content-contactbook-text {
  padding-top: 40px;
  margin-left: 42px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-right: 57px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%; }
.body__content-contactbook-textitem-mob {
  padding-left: 30px;
  position: relative; }
  .body__content-contactbook-textitem-mob::after {
    content: '';
    position: absolute;
    background-image: url(../img/call.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 15px;
    left: 0;
    top: 3px; }
.body__content-contactbook-textitem-location {
  padding-left: 30px;
  position: relative; }
  .body__content-contactbook-textitem-location::after {
    content: '';
    position: absolute;
    background-image: url(../img/location.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 15px;
    left: 0;
    top: 3px; }
.body__content-contactbook-time {
  display: flex;
  column-gap: 15px; }
.body__content-contactbook-timetable {
  padding-left: 40px;
  padding-top: 25px; }
.body__content-contactbook-timetable h3 {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 15px; }
.body__content-contactbook-time h4 {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%; }
.body__content-contactbook-time p {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%; }
.body__content-contactbook-btnlist {
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 40px; }
.body__content-contactbook-accentbtn {
  padding: 10px 20px;
  margin-right: 20px; }
.body__content-contactbook-whitebtn {
  padding: 10px 20px;
  border: 1px solid #FFFFFF;
  color: #fff;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%; }

.footer {
  max-width: 100%;
  margin-top: 146px;
  background-color: #333333;
  color: #fff;
  padding-bottom: 1px;
  height: 125px; }
  .footer__list {
    display: flex;
    justify-content: space-between; }
  .footer__logo {
    padding-top: 35px;
    padding-bottom: 40px; }
  .footer__text {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__list-payimg {
    width: 40px;
    height: 40px; }
  .footer__list-payimg:not(:last-child) {
    margin-right: 30px; }
  .footer__list-pay {
    display: flex;
    justify-content: center;
    align-items: center; }

html {
  transition: all 0.3s ease-in; }

.mixitup-control-active::after {
  content: '';
  background-color: #b59571;
  width: 100%;
  height: 3px;
  display: block;
  position: relative;
  top: 5px;
  left: 0; }

.show-right {
  transition: all 0.3s ease-in;
  position: relative;
  animation: showRight 0.7s;
  z-index: 1; }
@keyframes showLeft {
  from {
    left: -100%; }
  to {
    left: 0; } }
@keyframes showRight {
  from {
    right: -100%; }
  to {
    right: 0; } }
.show-left {
  transition: all 0.3s ease-in;
  position: relative;
  animation: showLeft 0.7s;
  z-index: 1; }
@keyframes showLeft {
  from {
    left: -100%; }
  to {
    left: 0; } }
@keyframes showRight {
  from {
    right: -100%; }
  to {
    right: 0; } }
.menu-open {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 120px;
  align-items: center;
  background-color: #333333;
  background-size: 100%;
  height: 100vh; }
.menu-up {
  width: 73px;
  display: flex;
  flex-direction: column; }
.menu-close {
  margin-top: 30px; }
.menu-text {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  text-align: center;
  align-items: center; }
.menu-text p {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF; }
.menu-logo {
  width: 73px;
  height: 46px; }
.menu-icon {
  display: flex;
  column-gap: 28px; }
.menu-textitem a {
  color: #fff; }
.menu-btnitem {
  padding: 20px 40px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin: 0 28px; }

.body__menu {
  display: flex;
  justify-content: center;
  column-gap: 134px;
  padding-top: 60px;
  /*   ==== COUNTER ===== */
  /* ==== COUNTER END  ==== */ }
  .body__menu-photoitem-big {
    width: 416px;
    height: 317px; }
  .body__menu-photoitem-small {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    padding-top: 24px; }
  .body__menu-photoitem-smallitem {
    width: 122px;
    height: 93px;
    transition: all 0.3s ease; }
  .body__menu-content-titlename {
    max-width: 306px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #333333;
    padding-bottom: 36px;
    position: relative; }
    .body__menu-content-titlename::after {
      content: '';
      position: absolute;
      width: 306px;
      height: 1px;
      background-color: black;
      opacity: 0.3;
      left: 0;
      top: 111px; }
  .body__menu-content-price {
    display: flex;
    column-gap: 10px;
    padding-top: 35px;
    width: 180px;
    height: 77px; }
  .body__menu-content-pricetext {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #333333; }
  .body__menu-content-gramm {
    margin-top: 14px; }
  .body__menu-content-slash {
    margin-top: 13px; }
  .body__menu-content-textcount {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
    padding-top: 30px;
    padding-bottom: 24px; }
  .body__menu-content-count-btnin {
    margin-left: 20px;
    padding: 15px 30px; }
  .body__menu-content-count {
    display: flex;
    padding-bottom: 46px;
    position: relative; }
    .body__menu-content-count::after {
      content: '';
      position: absolute;
      width: 306px;
      height: 1px;
      background-color: black;
      opacity: 0.3;
      left: 0;
      top: 87px; }
  .body__menu-content-countinput-wrapper {
    display: flex;
    max-width: 84px;
    height: 58px; }
  .body__menu-content-count-input {
    background: transparent;
    height: 58px;
    width: 84px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    padding-left: 25px;
    padding-right: 37px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #333333;
    position: relative; }
    .body__menu-content-count-input::-webkit-inner-spin-button {
      -webkit-appearance: none; }
  .body__menu-content-btnwrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: absolute;
    left: 48px;
    top: 17px; }
  .body__menu-content-btn-counter {
    font-weight: bold;
    cursor: pointer;
    width: 11px;
    height: 9px; }
    .body__menu-content-btn-counter:active {
      transform: translateY(1px); }
  .body__menu-content-additionally-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px; }
  .body__menu-content-titleadd {
    padding-top: 35px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #333333; }
  .body__menu-content-additionally-item {
    width: 306px;
    display: flex;
    justify-content: space-between; }
  .body__menu-content-additionally-text {
    padding-bottom: 10px; }
  .body__menu-content-additionally-price {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #333333; }
  .body__menu-content-titleadd {
    padding-bottom: 30px; }
  .body__menu-content-additionally-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    vertical-align: middle;
    margin-top: 18px; }
    .body__menu-content-additionally-checkbox:checked {
      border-color: rgba(51, 51, 51, 0.2); }
    .body__menu-content-additionally-checkbox::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 1px;
      transition: all 0.3s ease-in-out;
      opacity: .75; }
    .body__menu-content-additionally-checkbox:checked::after {
      background-color: #333333; }

.header__main {
  position: relative; }

.table-booking {
  transition: all 0.3s ease;
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  width: 416px;
  min-height: 572px;
  background: #333333;
  color: #fff;
  padding: 30px; }
  .table-booking__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px; }
  .table-booking__btn {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 10px; }
  .table-booking__logo {
    margin-bottom: 40px; }
  .table-booking__title {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .table-booking__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px 20px;
    width: 100%;
    margin-bottom: 30px; }
    .table-booking__input::placeholder {
      color: #fff; }
  .table-booking__input-wrapper {
    display: flex;
    column-gap: 4%;
    margin-bottom: 20px; }
  .table-booking__input-guests, .table-booking__input-time {
    width: 48%; }

.table-booking--close {
  transition: all 0.3s ease;
  transform: translateY(-1000px); }

.bg-wrapper--dark {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
  z-index: 8;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.456789); }

/*# sourceMappingURL=style.css.map */
