
@font-face {
	font-family: 'Circe';
	src: url('../font/Circe-Bold.eot');
	src: local('Circe Bold'), local('Circe-Bold'),
		url('../font/Circe-Bold.eot') format('embedded-opentype'),
		url('.././font/Circe-Bold.woff') format('woff'),
		url('../font/Circe-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../font/Circe-Regular.eot');
	src: local('Circe'), local('Circe-Regular'),
		url('../font/Circe-Regular.eot') format('embedded-opentype'),
		url('../font/Circe-Regular.woff') format('woff'),
		url('../font/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




$accent: rgba(181, 149, 113, 1);

html,body {
    overflow-x: hidden !important;
}

 .container {
     max-width: 1266px;
     padding: 0 15px;
     margin: 0 auto;
 }
 .container-fluid {
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 15px;
 }

 html {
     width: 100%;
     max-width: 100%;
     overflow-x: hidden;
 }
.none {
    display: none!important;
}

body {
     font-family: 'Circe', sans-serif;
}



.text-opacity {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #333333;
    opacity: 0.6;
}

.header__main {
    display: flex;
    justify-content: space-between;
    position: relative;

    &menu {
        width: 120px;
    }
    &-repeat {
        background-color: #333333;
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 120px;
        max-width: 120px;
        
    }
    &-logo {
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 28px;
        width: 80px;
        height: 46px;
    }
    &-burger {
        width: 33px;
        height: 23px;
        margin-left: 43px;
    }
    &-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 139px;
        margin-left: 43px;
        margin-bottom: 41px;
    }
    &-content {
        background-image: url(../img/header/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        color: #fff;
        background-position: center;
        min-width: 1113px;
        
    }
    &-nav{
        display: flex;


        position: absolute;
        right: 0;
        padding-right: 50px;
    }
    &-nav-link{
        display: flex;


        margin-right: 50px;
        font-family: 'Circe';
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #fff;
        padding-top: 40px;

    }
    &-nav-linkbtn {
        margin-right: 50px;
        margin-top: 30px;
    }
    &-title {
        position: absolute;
        bottom: 0;
        margin-left: 302px;
        padding-bottom: 150px;
        max-width: 856px;
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 140%;
    }
    &-profile {
        display: flex;
        justify-content: flex-end;
        column-gap: 34px;
        padding-top: 32px;
    }
    &-cabinet {
        color: #333333;
        font-family: 'Circe';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }
    &-purchase-counter {
        position: relative;
    }
    &-purchase-count {
        margin-top: 2px;
        padding: 0 3px;
        position: absolute;
        background-color: $accent;
        min-width: 20px;
        min-height: 20px;
        border-radius: 10px;
        text-align: center;
        color: #fff;
        font-size: 14px;
        top: 1rem;
        right: -1rem;
    }
}
.header__menu {
    &-list {
        display: flex;
        column-gap: 40px;
    }
    &-listwrapper {
        padding-top: 63px;
    }
    &-listitem {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333333;
    }
    &-listitem-link{
        color: #333333;
        position: relative;
    }

    &-listitem-link--active{
        &::after {
            content: '';
            background-color: $accent;
            width: 100%;
            height: 3px;
            display: block;
        
            position: relative;
            top: 5px;
            left: 0;

    }
    }

    &-chose {
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
    }



    &-choseitem {
        border: 1px solid rgba(51, 51, 51, 0.2);
        width: 306px;
        height: 404px;
        margin-top: 55px;
        position: relative;
    }
    &-choseitem-text {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
        padding: 0 30px;
        margin-top: 30px;
        color: #333333;
    }
    &-choseitem-pricelist {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        max-width: 246px;
        margin: 0 auto;
    }

    &-choseitem-price{
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        /* or 38px */


        /* black */

        color: #333333;

        position: absolute;
        bottom: 2.2rem;
        left: 1.9rem;
    }
    &-choseitem-basket {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        /* or 22px */

        text-align: center;

        /* white */

        color: #FFFFFF;
        position: absolute;
        bottom: 2.2rem;
        left: 9.75rem;

        background-color: $accent;

        padding: 10px 20px;
    }
}




.accent-btn {
     background-color: $accent;
     padding: 10px 20px;
     font-family: 'Circe';
     font-weight: 700;
     font-size: 16px;
     line-height: 140%;
     color: #fff;
}
.white-btn {
    border: 1px solid rgba(51, 51, 51, 0.2);
    padding: 15px 30px;
    font-family: 'Circe';
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;


    color: #333333;
}

.infotitle {
    color: #333333;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    padding-right: 90px;

    text-transform: uppercase;
    position: relative;
    height: 28px;

    &::after {
        content: '';
        position: absolute;
        width: 60px;
        height: 3px;
        background: #B59571;
        top: 40%;
        margin-left: 30px;
    }
}
.text {
    max-width: 526px;

    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;

    color: #333333;
    &:first-child {margin-bottom: 30px; padding-top: 87px;}
    &:last-child{
    margin-bottom: 0px;
}
}
.title {
    padding-top: 80px;
    max-width: 196px;
    height: 353px;
    font-family: 'Circe';
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;

    color: #333333;

}






.fix__content {
    margin-top: 133px;
}

.body__content{
    margin-top: 150px;

    &-info {
        display: flex;
        margin-bottom: 150px;
    }
    &-info-textcontent {
        display: flex;
    }

    &-info-textwrapper{
        height: 266px;

    }
    &-info-title {
        margin-right: 134px;
    }
    &-menu {
        display: flex;
    }
    &-menu-description {
        display: flex;
        justify-content: space-between;
        column-gap: 228px;
    }
    &-mainMenu {
        display: flex;
        column-gap: 24px;
        justify-content: center;
        align-items: center;
    }
    &-mainMenu__card {
        width: 416px;
        height: 240px;
        padding-bottom: 92px;
        border: 1px solid rgba(51, 51, 51, 0.2);
        position: relative;
        &::after {
            content: '';
            position: absolute;
            background-image: url(../img/body__content/menu0.jpg);
            width: 336px;
            height: 240px;
            margin-left: 40px;
            margin-top: 40px;
        }
    }
    &-mainMenu__barncard {
        width: 416px;
        height: 240px;
        padding-bottom: 92px;
        border: 1px solid rgba(51, 51, 51, 0.2);
        &::after {
            content: '';
            position: absolute;
            background-image: url(../img/body__content/menu1.jpg);
            width: 336px;
            height: 240px;
            margin-left: 40px;
            margin-top: 40px;
        }
    }
    &-mainMenu-description {
        display: flex;
        column-gap: 181px;
        padding-top: 64px;
        justify-content: center;
        padding-bottom: 150px;
    }
    &-delivery-textcontent {display: flex;}
    &-deliverywrapper {display: flex;}
    &-delivery-accentbtn {
        padding: 15px 30px;
    }
    &-deliverybtn {
        padding-top: 25px;
        padding-bottom: 20px;
        display: flex;
        column-gap: 30px; 
        max-width: 414px;
    }
    &-delivery {
        margin-bottom: 150px;
    }
    &-contactitem{
        width: 100px;
    }
}


.body__content {
    &-contactswrapper{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &-contactitem{
        display: flex;
        flex-wrap: wrap;
        width: 450px;
        margin-top: 200px;
    }
    &-contactelement{
        width: 200px;
        margin-right: 25px;
        margin-bottom: 50px;
    }
    &-contacttitle{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: $accent;
    & span{
        font-size: 64px;
        margin-right: 15px;
    }
    }
    &-contacttext{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #333333;
    }
    &-contactimg{
        margin-top: 80px;
        min-width: 746px;
        height: 450px;
    }

    &-contactbook{
        color: #fff;
        position: absolute;
        top: 17rem;
        left: 38rem;
        transform: translate(-55%,-38%);

         min-width: 416px;
         height: 349px;

        background-color: #5B5B5B;

    }

    &-contactbook-text {
        padding-top: 40px;
        margin-left: 42px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-right: 57px;



        font-family: 'Circe';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        
    }
    &-contactbook-textitem-mob  {
        padding-left: 30px;

        position: relative;
        &::after {
            content: '';
            position: absolute;
            background-image: url(../img/call.svg);
            background-repeat: no-repeat;
            width: 12px;
            height: 15px;
            left: 0;
            top: 3px;

        }
    }
    &-contactbook-textitem-location {
        padding-left: 30px;

        position: relative;
        &::after {
            content: '';
            position: absolute;
            background-image: url(../img/location.svg);
            background-repeat: no-repeat;
            width: 13px;
            height: 15px;
            left: 0;
            top: 3px;
        }
    }



    &-contactbook-time {
        display: flex;
        column-gap: 15px;
    }

    &-contactbook-timetable {
        padding-left: 40px;
        padding-top: 25px;
    }
    &-contactbook-timetable h3 {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 15px;
    }
    &-contactbook-time h4 {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 140%;
    }

    &-contactbook-time p {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
    }

    &-contactbook-btnlist {
        margin-left: 40px;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    &-contactbook-accentbtn{
        padding: 10px 20px;
        margin-right: 20px;

    }

    &-contactbook-whitebtn{
        padding: 10px 20px;
        border: 1px solid #FFFFFF;
        color: #fff;
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
    }



}

.footer {
    max-width: 100%;
    margin-top: 146px;
    background-color: #333333;
    color: #fff;
    padding-bottom: 1px;
    height: 125px;
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        padding-top: 35px;
        padding-bottom: 40px;
    }
    &__text {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__list-payimg {
        width: 40px;
        height: 40px;
    }
    &__list-payimg:not(:last-child) {
        margin-right: 30px;
    }
    &__list-pay {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


html {
    transition:  all 0.3s ease-in;
}



.mixitup-control-active {
    &::after{
        content: '';
        background-color: #b59571;
        width: 100%;
        height: 3px;
        display: block;
        position: relative;
        top: 5px;
        left: 0;
    }
    //background-color: red;
}

.show-right {
    transition:  all 0.3s ease-in;
        
        position: relative;
        
        animation: showRight 0.7s;
        
        z-index: 1;
        
        
        
        @keyframes showLeft {
        
        from {left:-100%;}
        
        to {left:0;}
        
        }
        
        @keyframes showRight {
        from {right:-100%;}
        
        to {right:0;}
        }
}
.show-left {
    transition:  all 0.3s ease-in;

    position: relative;
        
    animation: showLeft 0.7s;
    
    z-index: 1;
    
    
    
    @keyframes showLeft {
    
    from {left:-100%;}
    
    to {left:0;}
    
    }
    
    @keyframes showRight {
    from {right:-100%;}
    
    to {right:0;}
    }
}

.menu {
    &-open {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 120px;
        align-items: center;
        background-color: #333333;
        background-size: 100%;
        height: 100vh;
        // width: 100vh;
    }
    &-up {
        width: 73px;
        display: flex;
        flex-direction: column;
    }
    &-close {
        margin-top: 30px;
    }
    &-text {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        text-align: center;
        align-items: center;
    }
    &-text p {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;

        color: #FFFFFF;
    }

    &-logo {
        width: 73px;
        height: 46px;
    }

    &-icon {
        display: flex;
        column-gap: 28px;
    }
    &-textitem a {
        color: #fff;
    }
    &-btnitem {
        padding: 20px 40px;
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        margin: 0 28px;
    }
}



.body__menu {
    display: flex;
    justify-content: center;
    // align-items: center;
    column-gap: 134px;
    padding-top: 60px;

    &-photoitem-big {
        width: 416px;
        height: 317px;
    }
    &-photoitem-small {

        display: flex;
        justify-content: center;
        column-gap: 24px;
        padding-top: 24px;
    }
    &-photoitem-smallitem {
        width: 122px;
        height: 93px;
        transition: all 0.3s ease;
    }


    &-content-titlename {
        max-width: 306px;

        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        color: #333333;
        padding-bottom: 36px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 306px;
            height: 1px;
            background-color: black;
            opacity: 0.3;
            left: 0;
            top: 111px;
        }
    }

   

    &-content-price {
        display: flex;
        column-gap: 10px;
        padding-top: 35px;
        width: 180px;
        height: 77px;
        
    }
    &-content-pricetext {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        color: #333333;
    }

    &-content-gramm {
        margin-top: 14px;
    }
    &-content-slash {
        margin-top: 13px;
    }

    &-content-textcount {
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #333333;
        padding-top: 30px;
        padding-bottom: 24px;
    }
    &-content-count-btnin {
        margin-left: 20px;
        padding: 15px 30px;
    }


    /*   ==== COUNTER ===== */
    &-content-count {
        display: flex;

        padding-bottom: 46px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 306px;
            height: 1px;
            background-color: black;
            opacity: 0.3;
            left: 0;
            top: 87px;
        }
    }


    
    
    &-content-countinput-wrapper {
        display: flex;
        max-width: 84px;
        height: 58px;
    }

    &-content-count-input {
        background: transparent;
        height: 58px;
        width: 84px;
        border: 1px solid rgba(51, 51, 51, 0.2);
        padding-left: 25px;
        padding-right: 37px;
    
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #333333;
        position: relative;
    
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
    }

    &-content-btnwrapper {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        position: absolute;
        left: 48px;
        top: 17px;
    }

    &-content-btn-counter {
        font-weight: bold;
        cursor: pointer;
        width: 11px;
        height: 9px;
            &:active {
                transform: translateY(1px);
            }
    }
  

    /* ==== COUNTER END  ==== */




    &-content-additionally-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }


    &-content-titleadd {
        padding-top: 35px;
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;

        color: #333333;
    }
    &-content-additionally-item {
        width: 306px;
        display: flex;
        justify-content: space-between;
    }

    &-content-additionally-text {
        padding-bottom: 10px;
    }

    &-content-additionally-price {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;


    color: #333333;
    }
    &-content-titleadd {
        padding-bottom: 30px;
    }

     &-content-additionally-checkbox {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        width: 24px;
        height: 24px;
        border: 1px solid rgba(51, 51, 51, 0.2);
        border-radius: 0;
        transition: all 0.3s ease-in-out;
        position: relative;
        vertical-align: middle;
        margin-top: 18px;

        &:checked {
            border-color: rgba(51, 51, 51, 0.2);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 16px;
            height: 16px;
            background-color: #fff;
            border-radius: 1px;
            transition: all 0.3s ease-in-out;
            opacity: .75;
        }
        &:checked::after {
            background-color: #333333;
        }
     }  
}
.header__main{
    position: relative;
}

.table-booking{
    transition: all 0.3s ease;
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    width: 416px;
    min-height: 572px;
    background: #333333;
    color:#fff;
    padding: 30px;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
    }
    &__btn{
        display: block;
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 10px;
    }
    &__logo{
        margin-bottom: 40px;
    }
    &__title{
        font-family: 'Circe';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    &__input{
        border: 1px solid rgba(255, 255, 255, .3);
        padding: 15px 20px;
        width: 100%;
        margin-bottom: 30px;
        &::placeholder{
            color:#fff;
        }
    }
    &__input-wrapper{
        display: flex;
        column-gap: 4%;
        margin-bottom: 20px;
    }
    &__input-guests,
    &__input-time{
        width: 48%;
    }
}
 .table-booking--close{
     transition: all 0.3s ease;
     transform: translateY(-1000px);

     
 }
 .bg-wrapper--dark{


    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    overflow-y: hidden;

    z-index: 8;
    // position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba( #000000,  0.456789);
 }


.account__block {
    position: absolute;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    width: 190px;
    height: 170px;

    right: 2.8rem;
    top: 3.45rem;
    z-index: 3;

    &-img {
        height: 26px;
        width: 26px;
    }
    &-list {
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }
    &-name {
        font-size: 24px;
        color: #fff;
        font-weight: 700;
    }
    &-sociallink {
        width: 25px;
    }
}















